<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OM</title>

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&family=Roboto:wght@300;400;500;700;900&display=swap"
        rel="stylesheet">

    <!-- ICON SCOUT -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />

    <!-- STYLE SHEET -->
    <link rel="stylesheet" href="../../css/common/style.css">
    <link rel="stylesheet" href="../../css/common/banner.css">
</head>

<body>
    <div class="wrapper flex-between-column">
        <div class="wrapper-inner">
            <!-- ======== HEADER ======== -->
            <header id="header"></header>
            <!-- ======== NAV ======== -->
            <nav id="nav"></nav>
            <style>
                nav a:nth-child(3) {
                    color: var(--color-black);
                }
            </style>
            <!-- ======== BANNER ======== -->
            <div class="container-fit banner__container">
                <!-- Swiper -->
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide flex-center">크기 1160 x 300 (세로 크기 변경가능)</div>
                        <div class="swiper-slide flex-center">크기 1160 x 300 (세로 크기 변경가능)</div>
                        <div class="swiper-slide flex-center">크기 1160 x 300 (세로 크기 변경가능)</div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>

            <!-- ======== GUIDE ======== -->
            <div class="container basic__container">

                <div class="header-label flex-between">
                    <a class="a-section" href="../copytrading/copytrading.html">CopyTrading</a>
                    <div class="label-right flex-left">
                        <i class="uil uil-estate" style="margin-right: 5px;"></i>
                        <p>홈 > biget > CopyTrading</p>
                    </div>
                </div>

                <div class="copytrading-label copytrading-grid">
                    <p class="p-title">트레이더</p>
                    <p class="p-title">수익률</p>
                </div>

                <div class="article-list">
                    <article th:each="">
                        <a href="https://www.bitget.com/en/" class="copytrading-article copytrading-grid"
                            target="_blank">
                            <p class="p-section">트레이더1</p>
                            <p th:if="" class="p-label" style="color: var(--color-secondary);">+311.9%</p>
                            <!-- <p th:unless="" class="p-label" style="color: var(--color-red);">-11.9%</p> -->
                        </a>
                    </article>
                    <a class="copytrading-article copytrading-grid" target="_blank">
                        <p class="p-section">트레이더2</p>
                        <p th:if="" class="p-label" style="color: var(--color-secondary);">+291.9%</p>
                        <!-- <p th:unless="" class="p-label" style="color: var(--color-red);">-11.9%</p> -->
                    </a>
                    <a class="copytrading-article copytrading-grid" target="_blank">
                        <p class="p-section">트레이더3</p>
                        <p th:if="" class="p-label" style="color: var(--color-secondary);">+161.9%</p>
                        <!-- <p th:unless="" class="p-label" style="color: var(--color-red);">-11.9%</p> -->
                    </a>
                    <a class="copytrading-article copytrading-grid" target="_blank">
                        <p class="p-section">트레이더4</p>
                        <p th:if="" class="p-label" style="color: var(--color-secondary);">+99.9%</p>
                        <!-- <p th:unless="" class="p-label" style="color: var(--color-red);">-11.9%</p> -->
                    </a>
                </div>

            </div>
        </div>

        <!-- ======== FOOTER ======== -->
        <footer id="footer"></footer>
    </div>


    <!-- ======== JAVASCRIPT ======== -->
    <script src="../../javascript/common/base.js"></script>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".mySwiper", {
            spaceBetween: 30,
            centeredSlides: true,
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
    </script>
</body>

</html>