/* ====== 상단 코인 가격 슬라이드======== */
.price__container {
    margin-top: 15px;
}

/* ======로그인 밑 코인 링크 이미지======== */
.bodyimg__container {
    margin-top: 40px;
}

/* ======HOME MAIN======== */
.home__container {
    padding-top: 15px;
}

.home__container .grid-left {
    border-bottom: 1px solid var(--color-gray20);
    padding-bottom: 50px;
}


/* 탭 바 메뉴 */
.home-label {
    padding-bottom: 15px;
    width: 100%;
}

.label-list a {
    margin-right: 25px;
    color: var(--color-gray20);
}

.label-list a.active {
    color: var(--color-black);
}

.label-plus {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.label-plus i {
    font-size: 18px;
}

/* 탭 화면 */
.home-divs {
    padding: 10px 0 20px 0;
}

.home-target-div {
    display: none;
}

.home-target-div.active {
    display: block;
}

/* 공지사항 탭 */
.announce-article {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr 1fr;
    padding: 10px 0;
}

.announce-article .p-title,
.announce-article .p-content {
    color: var(--color-gray);
}

.announce-article:hover a {
    color: var(--color-primary);
}

.announce-article a:hover {
    color: var(--color-primary);
}

/* 가이드 탭 */
.guide-content .a-section {
    padding-bottom: 5px;
    font-weight: 500;
}

.guide-content .a-section:hover {
    color: var(--color-primary);
}

.guide-content .a-basic {
    color: var(--color-gray);
    margin-bottom: 10px;
}

.guide-info p {
    margin-right: 15px;
}




/* =================MEDIA QUERY================ */
@media screen and (max-width: 780px) {

    .announce-article {
        grid-template-columns: 80px 7fr;
    }

    .announce-article .announce-writer {
        display: none;
    }

    .announce-article .p-content {
        display: none;
    }
}